.header {
  position: relative;
  background-color: #051f3e;
  color: #fff;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.backgroundPage {
  background: linear-gradient(45deg,
  rgba(0, 166, 81, 1) 0%,
  rgba(255, 204, 0, 1) 50%,
  rgba(0, 79, 152, 1) 100%);
  font-weight: bold;
  color: white;
  align-items: center;
}

.quizcontainer {
  background-color: #051F3E;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center; /* Adicionado para alinhar ao centro */
}

.quizcontainer p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.quizcontainer button {
  margin-top: 20px;
}


