.typingAnimation {
    overflow: hidden;
    animation: typing 2s steps(30, end);
    white-space: nowrap;
    border-right: 0.15em;
    text-align: left;
    margin-left: 13%;
    /* Define uma "barra de digitação" /
    font-family: monospace;
    / Pode ser ajustado para o estilo de fonte desejado */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 35%;
    }
}

.backgroundPage {
    background: linear-gradient(45deg,
            rgba(0, 166, 81, 1) 0%,
            rgba(255, 204, 0, 1) 50%,
            rgba(0, 79, 152, 1) 100%);
    font-weight: bold;
    color: white;
    align-items: center;
}

.cardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.centeringContainer {
    text-align: center;
}